{% extends "boardgamecafe/template.html" %}
{% load static %}
{% block title %}
    <title>Calendar</title>
{% endblock %}

{% block content %}
    <section class="w3-container w3-light-grey w3-center" style="padding:128px 16px" id="calendar">
        <h1>CALENDAR</h1>

        <a class="w3-green w3-button w3-center w3-right" href="{% url 'boardgamecafe:addremovecalendar' %}">Add Dates</a>
        <br>
        {% if dateobj %}
            {% for d in dateobj %}
                <p> {{ date }} </p>
                <div>
                    <table>
                        <tr>
                            <td> <b> Hour </b> </td>
                            <td> <b> Table Name </b> </td>
                            <td> <b> Booking </b> </td>
                        </tr>
                        {% for s in slots_list %}
                            <tr>
                                <td> {{ s }} </td>
                                <td>
                                    {% for t in tables %}
                                        <p> {{ t.name }} </p>
                                    {% endfor %}
                                </td>
                                {# Todo - quando tiver as reservas feitas #}
                                <td>
                                    {% for t in tables %}
                                        <p> Free </p>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endfor %}
        {% else %}
            <p> {{ date }} </p>
            <p> There is no calendar for this day </p>
        {% endif %}

        <div class="w3-center">
            <a href="{% url 'boardgamecafe:nextdate' date 1 %}">
                <button class="form_crude_btn w3-button w3-center" id="previous_date"> Previous Date </button>
            </a>
            &nbsp
            <a href="{% url 'boardgamecafe:nextdate' date 0 %}">
                <button class="form_crude_btn w3-button w3-center" id="next_date"> Next Date </button>
            </a>
        </div>

    </section>
{% endblock %}