{% extends "boardgamecafe/template.html" %}
{% load static %}
{% block title %}
    <title>Calendar</title>
{% endblock %}

{% block content %}
    <section class="w3-container w3-light-grey w3-center" style="padding:128px 16px" id="calendar">
        <h1>CALENDAR</h1>

        <a class="w3-green w3-button w3-center w3-right" href="{% url 'boardgamecafe:addremovecalendar' %}">Add Dates</a>
        <br>
        {% if dateobj %}
            <p> {{ date }} </p>
            <div>
                <table>
                    <tr>
                        <td> <b> Hour </b> </td>
                        <td> <b> Table Name </b> </td>
                        <td> <b> Booking </b> </td>
                        <td> <b> Client </b> </td>
                    </tr>
                    {% for b in calendar_list %}
                        <tr>
                            <td> {{b.slot}} </td>
                            <td> {{b.name}} </td>
                            <td>
                                {%  if b.link == "Free"  %}
                                    {{b.link}}
                                {% else %}
                                    <a href="{% url 'boardgamecafe:index' %}"> {{b.link}} </a>
                                {% endif %}
                            </td>
                            <td> {{b.nickname}} </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% else %}
            <p> {{ date }} </p>
            <p> There is no calendar for this day </p>
        {% endif %}

        <div class="w3-center">
            <a href="{% url 'boardgamecafe:nextdate' date 1 %}">
                <button class="form_crude_btn w3-button w3-center" id="previous_date"> Previous Date </button>
            </a>
            &nbsp
            <a href="{% url 'boardgamecafe:nextdate' date 0 %}">
                <button class="form_crude_btn w3-button w3-center" id="next_date"> Next Date </button>
            </a>
        </div>

    </section>
{% endblock %}