{% extends "boardgamecafe/index.html" %}
{% load static %}
<!-- Backgroud image -->
{% block header %}
    <img class="img-index" src="{% static 'boardgamecafe/images/small_banner.png' %}" >
{% endblock %}

{% block content %}
    <div class="w3-container w3-light-grey w3-center" style="padding:128px 16px" id="about">

        <h1>GAME LIST</h1>
        <!-- TODO - Fazer o for para automatizar a página -->
        <div class="w3-center" style="margin-top:64px">
            <div class="w3-third">
                <!-- TODO - Falta a imagem do jogo -->
                <p class="w3-large">Responsive</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
            </div>
            <div class="w3-third">
                <!-- TODO - Falta a imagem do jogo -->
                <p class="w3-large">Passion</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
            </div>
            <div class="w3-third">
                <!-- TODO - Falta a imagem do jogo -->
                <p class="w3-large">Design</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
            </div>
        </div>

    </div>
{% endblock %}

{% block footer %}
{% endblock %}