{% extends "boardgamecafe/template.html" %}
{% load static %}

{% block content %}
<section class="w3-light-grey w3-center w3-container" style="padding:128px">

    <h1>{{ boardgame.name.upper }} ({{ boardgame.release_year }})</h1>
{#    <p> Edit the data of the chosen board game </p>#}

    {% if error_message %}
        <p class="w3-red">{{ error_message }}</p>
    {% endif %}
    <div class="w3-container">
        <figure>
            <img id="boardgame_image" class="w3-third" src="{{ boardgame.image }}">
        </figure>

        <ul class="remove-ul-style w3-half">

            <li><span class="form_crude_label">Players:</span> {{ boardgame.min_players }}-{{ boardgame.max_players }}</li>
            <li><span class="form_crude_label">Age:</span> {{ boardgame.min_age }}+ </li>
            {% if boardgame.min_playing_time == boardgame.avg_playing_time %}
                <li><span class="form_crude_label">Playing Time:</span> {{ boardgame.avg_playing_time }}</li>
            {% else %}
                <li><span class="form_crude_label">Playing Time:</span> {{ boardgame.min_playing_time }}-{{ boardgame.avg_playing_time }}</li>
            {% endif %}
            <li><span class="form_crude_label">Complexity:</span> {{ boardgame.complexity }}<span class="form_crude_label">/5</span></li>
            <li><span class="form_crude_label">Available Copies:</span> {{ boardgame.number_of_copies }}</li>
            <br>
            <li class="w3-button">
                {#            ALTERAR ESTA IMAGEM CONSOANTE O UTILIZADOR TIVER OU NAO DADO LIKE NESTE JOGO#}
                <img class="img-icon-game" src="{% static 'boardgamecafe/images/heart_icon.png' %}">
            </li>
{#            O NUMERO DE LOVES VEM DO VIEW COMO CONTEXTO#}
            <li><span class="form_crude_label"> 60 Loves </span></li>
            <br>
{#            TIRAR COR DO BOTAO?#}
            <li><a class="w3-blue-gray w3-button" href="{{ boardgame.link }}">Link To BoardGameGeek</a></li>
        </ul>
    </div>

    <div class="all-wide">
        <p class="form_crude_label">Description</p>
        <p class="w3-left-align">{{ boardgame.description }}</p>
    </div>

    <a class="w3-green w3-button w3-center" href="{%  url 'boardgamecafe:editgame' boardgame.id %}">Edit Game</a>
 </section>

<section class="w3-center w3-container w3-blue-gray">
    <h2> COMMENTS </h2>

    <a class="w3-button w3-center w3-white" href="{%  url 'boardgamecafe:editgame' boardgame.id %}">Add Comment</a>

    <form class="form_crude" action="{% url 'boardgamecafe:game' boardgame.id %}" method="POST">
        {% csrf_token %}
        <div class="form_crude_item w3-card w3-white w3-round w3-margin w3-center">
            <textarea maxlength="10000" class="form_crude_input form-gigantic-comment" name="new_comment" id="new_comment" placeholder="Enter the new comment. (Max. 10000 chars)" required></textarea>
        </div>
        <div class="form_crude_item w3-center">
            <button class="form_crude_btn w3-button w3-center center-submit-button" type="submit">Submit Comment</button>
        </div>
    </form>

{#    ESTES COMENTARIOS DEVEM SER CRIADOS COM UM FOR DOS COMENTARIOS QUE VIEREM DA BASE DE DADOS#}
    {#    TAMBEM DEVE SER CRIADO UM BOTAO PARA ELIMINAR COMENTARIOS QUE NA REALIDADE TIRA-OS DE ACTIVOS; SÓ NOS COMENTÁRIOS DO UTILIZADOR#}
    <article class="w3-container w3-card w3-white w3-round w3-margin w3-center" id="recent_comment1"><br>
        <div class="w3-container">
            <span class="w3-left w3-opacity date-comments">23:40:23 - 04/02/2023</span>
            <span class="w3-right w3-opacity w3-button">
                <span>60 Loves</span>
                <img class="img-icon-comments" src="{% static 'boardgamecafe/images/heart_icon.png' %}">
            </span>
        </div>
        <hr class="w3-clear">
        <p><span class="form_crude_label">Mr. John Doe:</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </article>
    <article class="w3-container w3-card w3-white w3-round w3-margin w3-center" id="recent_comment2"><br>
        <div class="w3-container">
            {#            DATA VEM DO CONTEXTO#}
            <span class="w3-left w3-opacity date-comments">23:40:23 - 04/02/2023</span>
            {#            NUMERO DE LOVES VEM DO CONTEXTO#}
            <span class="w3-right w3-opacity w3-button">
                <span>60 Loves</span>
                {#            ALTERAR ESTA IMAGEM CONSOANTE O UTILIZADOR TIVER OU NAO DADO LIKE NESTE JOGO#}
                <img class="img-icon-comments" src="{% static 'boardgamecafe/images/heart_icon.png' %}">
            </span>
        </div>
        <hr class="w3-clear">
        {#            TITULO ALCUNHA E TEXTO VÊM DO CONTEXTO#}
        <p><span class="form_crude_label">Mr. John Doe:</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </article>
    <article class="w3-container w3-card w3-white w3-round w3-margin w3-center" id="recent_comment3"><br>
        <div class="w3-container">
            <span class="w3-left w3-opacity date-comments">23:40:23 - 04/02/2023</span>
            <span class="w3-right w3-opacity w3-button">
                <span>60 Loves</span>
                <img class="img-icon-comments" src="{% static 'boardgamecafe/images/heart_icon.png' %}">
            </span>
        </div>
        <hr class="w3-clear">
        <p><span class="form_crude_label">Mr. John Doe:</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </article>
    <article class="w3-container w3-card w3-white w3-round w3-margin w3-center" id="recent_comment4"><br>
        <div class="w3-container">
            <span class="w3-left w3-opacity date-comments">23:40:23 - 04/02/2023</span>
            <span class="w3-right w3-opacity w3-button">
                <span>60 Loves</span>
                <img class="img-icon-comments" src="{% static 'boardgamecafe/images/heart_icon.png' %}">
            </span>
        </div>
        <hr class="w3-clear">
        <p><span class="form_crude_label">Mr. John Doe:</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </article>
    <article class="w3-container w3-card w3-white w3-round w3-margin w3-center" id="recent_comment5"><br>
        <div class="w3-container">
            <span class="w3-left w3-opacity date-comments">23:40:23 - 04/02/2023</span>
            <span class="w3-right w3-opacity w3-button">
                <span>60 Loves</span>
                <img class="img-icon-comments" src="{% static 'boardgamecafe/images/heart_icon.png' %}">
            </span>
        </div>
        <hr class="w3-clear">
        <p><span class="form_crude_label">Mr. John Doe:</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </article>
</section>
 {% endblock %}

