{% extends "boardgamecafe/index.html" %}
{% load static %}
<!-- Backgroud image -->
{% block header %}
    <img class="img-index" src="{% static 'boardgamecafe/images/small_banner.png' %}" >
{% endblock %}


{% block content %}
<div class="container_crude">
    <form class="form_crude" action="./" method="POST">
        <div class="form_crude_title">Create New Board Game</div>
            <p class="form_crude_desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, nostrum? Laudantium molestiae explicabo numquam animi corrupti debitis ratione, accusamus nemo optio eum vero nesciunt facere aperiam! Labore pariatur accusantium exercitationem.
            </p>
        <div class="form_crude_item">
            <label for="givennames" class="form_crude_label">Given Names</label>
            <input type="text" class="form_crude_input" name="givennames" id="givennames" placeholder="Enter your given name(s)">
            <span class="form_crude_error">A sample error message</span>
        </div>
        <div class="form_crude_item">
            <label for="numusers" class="form_crude_label">Number of Users</label>
            <input type="number" class="form_crude_input form_crude_input--small" name="numusers" id="numusers" min="1" max="5" placeholder="How many users? (Max. 5)">
            <span class="form_crude_error">A sample error message</span>
        </div>
        <div class="form_crude_item">
            <label for="expirydate" class="form__label">Expiration Date</label>
            <input type="date" class="form_crude_input form_crude_input--small" name="expirydate" id="expirydate" placeholder="Enter an expiration date">
            <span class="form_crude_error">A sample error message</span>
        </div>
        <div class="form_crude_item">
            <label for="message" class="form_crude_label">Message</label>
            <textarea maxlength="500" class="form_crude_input" name="message" id="message" placeholder="Enter a detailed message about why you wish to signup. (Max. 500 chars)"></textarea>
            <span class="form_crude_error">A sample error message</span>
        </div>
        <div class="form_crude_item">
            <button class="form_crude_btn" type="submit">Sign Up</button>
        </div>
    </form>
 </div>
 {% endblock %}