{% extends "boardgamecafe/template.html" %}
{% load static %}
{% block title %}
    <title>Calendar</title>
{% endblock %}

{% block content %}
<div class="w3-light-grey w3-center" style="padding:128px">
    <h1>ADD NEW DATES / REMOVE DATES</h1>
    <p> Fill in the data regarding the new dates to be added </p>

    <form class="form_crude" action="{% url 'boardgamecafe:addremovecalendar' %}" method="POST">
        {% csrf_token %}
        <div class="form_crude_item">
            <label for="startdate" class="form_crude_label">Start Date</label>
            <input type="date" class="form_crude_input form_crude_input--small" name="startdate" id="startdate" required onBlur="endDateBiggerThanStartDate()">
{#            <span class="form_crude_error">A sample error message</span>#}
        </div>
        <div class="form_crude_item">
            <label for="enddate" class="form_crude_label">End Date</label>
            <input type="date" class="form_crude_input form_crude_input--small" name="enddate" id="enddate" required>
{#            <span class="form_crude_error">A sample error message</span>#}
        </div>
        <div class="form_crude_item">
            <label for="opentime" class="form_crude_label">Open Time</label>
            <input type="time" class="form_crude_input form_crude_input--small" name="opentime" id="opentime" required onBlur="closeTimeBiggerThanOpenTime()">
{#            <span class="form_crude_error">A sample error message</span>#}
        </div>
        <div class="form_crude_item">
            <label for="closetime" class="form_crude_label">Close Time</label>
            <input type="time" class="form_crude_input form_crude_input--small" name="closetime" id="closetime" required max="24:00">
{#            <span class="form_crude_error">A sample error message</span>#}
        </div>
        <div class="form_crude_item form_crude_item_checkbox">
            <label class="form_crude_label">Select the weekdays</label>
        </div>
        <div class="form_crude_item form_crude_item_checkbox">
            <label for="monday" class="form_crude_label">Monday</label>
            <input type="checkbox" name="monday" id="monday">

            <label for="tuesday" class="form_crude_label">Tuesday</label>
            <input type="checkbox" name="tuesday" id="tuesday">

            <label for="wednesday" class="form_crude_label">Wednesday</label>
            <input type="checkbox" name="wednesday" id="wednesday">

            <label for="thursday" class="form_crude_label">Thursday</label>
            <input type="checkbox" name="thursday" id="thursday">

            <label for="friday" class="form_crude_label">Friday</label>
            <input type="checkbox" name="friday" id="friday">

            <label for="saturday" class="form_crude_label">Saturday</label>
            <input type="checkbox" name="saturday" id="saturday">

            <label for="sunday" class="form_crude_label">Sunday</label>
            <input type="checkbox" name="sunday" id="sunday">
        </div>
        <div class="form_crude_item form_crude_item_checkbox">
            <label for="log_is_active" class="form_crude_label">Is it to remove from calendar?</label>
            <input type="checkbox" name="log_is_active" id="log_is_active">
        </div>
        <div class="form_crude_item">
            <button class="form_crude_btn w3-button" type="submit" id="submit">Add Dates</button>
            <input class="form_crude_btn w3-button w3-red" type="button" value="Back" onclick="history.back()">
        </div>
    </form>

</div>
{% endblock %}

{% block functions %}
    <script>
        {# Definir Today como a data mínima para Start Date #}
        document.getElementById("startdate").min = new Date().toISOString().split("T")[0];
        {# Garante que End Date não é inferior à Start Date #}
        function endDateBiggerThanStartDate() {
            var minToDate = document.getElementById("startdate").value;
            document.getElementById("enddate").setAttribute("min", minToDate);
        }
        {# Permite apenas horas certas para Open Time #}
        const openTimeInput = document.getElementById('opentime');
        openTimeInput.addEventListener('input', (e) => {
          let hour = e.target.value.split(':')[0]
          e.target.value = `${hour}:00`
        })
        {# Permite apenas horas certas para Close Time #}
        const closeTimeInput = document.getElementById('closetime');
        closeTimeInput.addEventListener('input', (e) => {
          let hour = e.target.value.split(':')[0]
          e.target.value = `${hour}:00`
        })
        {# Garante que Open Time não é inferior à Close Time #}
        function closeTimeBiggerThanOpenTime() {
            var minToDate = document.getElementById("opentime").value;
            var minToDateMod = minToDate.substr(0, 3) + "59";
            document.getElementById("closetime").setAttribute("min", minToDateMod);
        }
        {# Bloquear Open Time, Close Time e Weekdays quando é para remover datas e mudar nome do botão #}
        $(document).ready(function () {
            $("#log_is_active").click(function() {
               if($(this).is(':checked')) {
                   $("#opentime").prop("disabled", true);
                   $("#closetime").prop("disabled", true);
                   $("#monday").prop("disabled", true);
                   $("#tuesday").prop("disabled", true);
                   $("#wednesday").prop("disabled", true);
                   $("#thursday").prop("disabled", true);
                   $("#friday").prop("disabled", true);
                   $("#saturday").prop("disabled", true);
                   $("#sunday").prop("disabled", true);
                   $("#submit").text('Remove Dates');
               } else {
                   $("#opentime").prop("disabled", false);
                   $("#closetime").prop("disabled", false);
                   $("#monday").prop("disabled", false);
                   $("#tuesday").prop("disabled", false);
                   $("#wednesday").prop("disabled", false);
                   $("#thursday").prop("disabled", false);
                   $("#friday").prop("disabled", false);
                   $("#saturday").prop("disabled", false);
                   $("#sunday").prop("disabled", false);
                   $("#submit").text('Add Dates')
               }
            });
        });
    </script>
{% endblock %}