<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
        <title>Homepage</title>
    {% endblock %}
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'boardgamecafe/css/style.css' %}" />
</head>

<header id="home">
    <!-- Navbar (sit on top) -->
    <nav class="w3-top">
        <div class="w3-bar w3-white w3-card" id="myNavbar">
            <a href={% url 'boardgamecafe:index' %} class="w3-bar-item w3-button w3-wide">BOARD GAME CAFE</a>
            <!-- Right-sided navbar links -->
            <div class="w3-right w3-hide-small">
{#                <a href="#about" class="w3-bar-item w3-button">ABOUT</a>#}
                {% if user.is_superuser %}
                    <a class="w3-bar-item w3-button" href={% url 'boardgamecafe:calendar' %}> CALENDAR</a>
                    <a class="w3-bar-item w3-button" href={% url 'boardgamecafe:tables' %}> TABLES </a>
                {% endif %}
                <a class="w3-bar-item w3-button" href={% url 'boardgamecafe:newbooking' %}> NEW BOOKING</a>
                <a class="w3-bar-item w3-button" href={% url 'boardgamecafe:games' %}> GAMES</a>
{#                <a href="#pricing" class="w3-bar-item w3-button"> PRICING</a>#}
                <a class="w3-bar-item w3-button" href="#contact"> CONTACT</a>
            {% if user.is_authenticated %}
                {% if user.is_superuser %}
                    <a class="w3-bar-item w3-button" href={% url 'boardgamecafe:users' %}> USERS</a>
                    <a class="w3-bar-item w3-button" href={% url 'boardgamecafe:titles' %}> TITLES</a>
                {% endif %}
                <a class="w3-bar-item w3-button" href={% url 'boardgamecafe:personalarea' %}> PERSONAL AREA</a>
                <a class="w3-bar-item w3-button" href={% url 'boardgamecafe:logout' %}> LOG OUT</a>
            {% else %}
                <a class="w3-bar-item w3-button" href={% url 'boardgamecafe:signup' %}> SIGN UP</a>
                <a class="w3-bar-item w3-button" href={% url 'boardgamecafe:signin' %}> SIGN IN</a>
            {% endif %}

            </div>
        </div>
    </nav>
    <!-- Backgroud image -->
    {% block header %}
    <a href="{% url 'boardgamecafe:index' %}">
        <img class="img-index" src="{% static 'boardgamecafe/images/small_banner.png' %}" >
    </a>
    {% endblock %}
</header>

<body>

    <!-- About Section -->
    {% block content %}
    <section class="w3-container w3-light-grey w3-center" style="padding:128px 16px" id="about">
        <h3>ABOUT US</h3>
        <p>Key features of our company</p>
    </section>
    {% endblock %}

    <!-- Footer -->
    <footer class="w3-center" id="contact" style="padding:128px 16px">
        <h3>CONTACT</h3>
        <p>Lets get in touch. Send us a message:</p>
        <p> <img class="img-icon" src="{% static 'boardgamecafe/images/pin_icon.png' %}" > Rua Rodrigues Sampaio 146, 1150-882, Lisbon, PT</p>
        <p> <img class="img-icon" src="{% static 'boardgamecafe/images/phone_icon.png' %}" > +351 987654321</p>
        <p> <img class="img-icon" src="{% static 'boardgamecafe/images/mail_icon.png' %}" > boardgamecafe@mail.com</p>
        {% block footer %}
            <img class="img-index" src="{% static 'boardgamecafe/images/location_with_pin2.png' %}" >
        {% endblock %}
        <a href="#home" class="w3-button w3-white">To the top</a>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="{% static 'boardgamecafe/js/script.js' %}"></script>

    {% block functions %}
    {% endblock %}
</body>

</html>