{% extends "boardgamecafe/template.html" %}
{% load static %}

{% block content %}

<section class="w3-light-grey w3-center w3-container" style="padding:128px">

    <h1>TITLES</h1>
{#    <p> Check all available and unlocked titles.</p>#}

    <a class="w3-green w3-button w3-center w3-right" href="{%  url 'boardgamecafe:addtitle' %}">Add Title</a>

    {% if titles %}
    <p> Check all available and unlocked titles.</p>

    <div class="w3-container w3-content w3-padding-64 w3-center" >
        <ul class="w3-ul w3-border w3-white w3-text-grey">
            {%  for title in titles %}
            <li class="w3-padding">
                <div class="left-align">
                    {{  title.designation }}<span class="w3-tag w3-green w3-margin-left w3-margin-right">Unlocked</span>{{  title.unlock_conditions }}
                    <a class="w3-green w3-button w3-right-align w3-margin-left" href="{%  url 'boardgamecafe:edittitle' 1 %}">Edit Title</a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% else %}
        <br>
        <p id="no_titles"> Currently, there are no available titles. </p>
    {%  endif %}


{#    <!-- Menu Section -->#}
{#  <div class="w3-row w3-padding-64" id="menu">#}
{#    <div class="w3-col l6 w3-padding-large">#}
{#      <h1 class="w3-center">Our Menu</h1><br>#}
{#      <h4>Bread Basket<span class="w3-tag w3-red w3-margin-left">Unlocked</span></h4>#}
{#      <p class="w3-text-grey">Assortment of fresh baked fruit breads and muffins 5.50</p><br>#}
{##}
{#      <h4>Honey Almond Granola with Fruits</h4>#}
{#      <p class="w3-text-grey">Natural cereal of honey toasted oats, raisins, almonds and dates 7.00</p><br>#}
{##}
{#      <h4>Belgian Waffle</h4>#}
{#      <p class="w3-text-grey">Vanilla flavored batter with malted flour 7.50</p><br>#}
{##}
{#      <h4>Scrambled eggs</h4>#}
{#      <p class="w3-text-grey">Scrambled eggs, roasted red pepper and garlic, with green onions 7.50</p><br>#}
{##}
{#      <h4>Blueberry Pancakes</h4>#}
{#      <p class="w3-text-grey">With syrup, butter and lots of berries 8.50</p>#}
{#    </div>#}
{##}
{#    <div class="w3-col l6 w3-padding-large">#}
{#      <img src="/w3images/tablesetting.jpg" class="w3-round w3-image w3-opacity-min" alt="Menu" style="width:100%">#}
{#    </div>#}
{#  </div>#}

</section>

{% endblock %}