{% extends "boardgamecafe/template.html" %}
{% load static %}

{% block content %}

{% block title %}
        <title>User Details</title>
{% endblock %}

<section class="w3-light-grey w3-center" style="padding:128px">

    {% if user.is_superuser %}
        <h1>USER DETAILS</h1>
        <p> Check and edit the user details</p>
    {% else %}
        <h1>YOUR DETAILS</h1>
        <p> Check and edit your details</p>
    {% endif %}

    {% if error_message %}
        <p class="w3-red">{{ error_message }}</p>
    {% endif %}

    <form class="form_crude" method="POST" action="{% url 'boardgamecafe:userdetails' %}">
        {% csrf_token %}
        <div hidden>
            <input name="user_id" id="user_id" value={{ user_to_view.id }} required>
        </div>
        <div class="form_crude_item">
            <label for="first_name" class="form_crude_label">First Name</label>
            <input type="text" maxlength="50" class="form_crude_input" name="first_name" id="first_name" placeholder="Enter first name (Max. 50 characters)" value={{ user_to_view.first_name }}
                    {% if not user.is_superuser %} readonly="readonly" {% endif %} required>
        </div>
        <div class="form_crude_item">
            <label for="last_name" class="form_crude_label">Last Name</label>
            <input type="text" maxlength="50" class="form_crude_input" name="last_name" id="last_name" placeholder="Enter last name (Max. 50 characters)" value={{ user_to_view.last_name }}
                    {% if not user.is_superuser %} readonly="readonly" {% endif %} required>
        </div>
        <div class="form_crude_item">
            <label for="nickname" class="form_crude_label">Nickname</label>
            <input type="text" maxlength="50" class="form_crude_input" name="nickname" id="nickname" placeholder="Enter the name to be known for (Max. 50 characters)" value={{ user_to_view.person.nickname }} required>
        </div>
        <div class="form_crude_item">
            <label for="chosen_title" class="form_crude_label">Chosen Title</label>
            <select class="form_crude_input form-dropdown" name="chosen_title" id="chosen_title" required>
                {% for title in titles %}
                    <option class="w3-dropdown-content" {% if title == user_to_view.person.chosen_title %}selected="selected"{% endif %} value={{ title.id }}>{{ title.designation }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form_crude_item">
            <label for="date_of_birth" class="form_crude_label">Date of Birth</label>
            <input type="date" class="form_crude_input form_crude_input--small" name="date_of_birth" id="date_of_birth" value={{ date_of_birth }} max="3000-01-01"
                   {% if not user.is_superuser %} readonly="readonly" {% endif %} required>
        </div>
        <div class="form_crude_item">
            <label for="email" class="form_crude_label">E-mail</label>
            <input type="email" class="form_crude_input form_crude_input--small" name="email" id="email" placeholder="Enter email" value={{ user_to_view.email }} required>
        </div>
        <div class="form_crude_item">
            <label for="vat" class="form_crude_label">VAT</label>
            <input type="text" maxlength="15" class="form_crude_input form_crude_input--small" name="vat" id="vat" placeholder="Enter tax ID" value={{ user_to_view.person.vat }}
                    {% if not user.is_superuser %} readonly="readonly" {% endif %} required>
        </div>
        <div class="form_crude_item">
            <label for="phone_number" class="form_crude_label">Phone number</label>
            <input type="tel" class="form_crude_input form_crude_input--small" name="phone_number" id="phone_number" pattern="^([0]{2}[1-9]{1,3})?([\+][0-9]{1,3})?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{3,6}$" placeholder="Enter phone number" value={{ user_to_view.person.phone_number }} required>
        </div>
        <div class="form_crude_item">
            <label for="username" class="form_crude_label">Username</label>
            <input type="text" class="form_crude_input" name="username" id="username" placeholder="Enter a username of your choosing" value={{ user_to_view.username }}
                    {% if not user.is_superuser %} readonly="readonly" {% endif %} required>
        </div>
        <div class="form_crude_item">
            <label for="password" class="form_crude_label">Password</label>
            <input type="password" class="form_crude_input" name="password" id="password" placeholder="Enter a password of your choosing">
        </div>
        <div class="form_crude_item">
            <label for="password_confirm" class="form_crude_label">Confirm Password</label>
            <input type="password" class="form_crude_input" name="password_confirm" id="password_confirm" placeholder="Enter the chosen password again to confirm">
        </div>
        {% if user.is_superuser %}
            <div class="form_crude_item form_crude_item_checkbox">
                <label for="is_superuser" class="form_crude_label">The user is an admin</label>
                <input type="checkbox" name="is_superuser" id="is_superuser" {% if user_to_view.is_superuser %} checked {% endif %} disabled>
            </div>
        {% endif %}
        <div class="form_crude_item">
            <button class="form_crude_btn w3-button" type="submit">Edit details</button>
        </div>
    </form>

    <div class="form_crude_item">
        <input class="form_crude_btn w3-button w3-red" type="button" value="Cancel" onclick="history.back()">
    </div>
</section>
{% endblock %}

{% block functions %}
    <script>
        $(document).ready(function(event) {
            setMaxDateOfBirth();
        });
    </script>
{% endblock %}
